<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - API de Geração de QR Code</title>
    <!-- Incluindo o CSS do Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Registro de Usuário</h2>

                    <!-- Mostrar mensagem após o registro -->
                    {% if message %}
                    <div class="alert alert-info" role="alert">
                        {{ message }}
                        {% if api_key %}
                        <hr>
                        <strong>Seu API Key:</strong> {{ api_key }}
                        {% endif %}
                    </div>
                    {% endif %}

                    <form action="/dashboard" method="post">
                        <div class="form-group">
                            <label for="username">Nome de Usuário:</label>
                            <input type="text" id="username" name="username" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Senha:</label>
                            <input type="password" id="password" name="password" class="form-control" required>
                        </div>
                        <div class="text-center">
                            <input type="submit" value="Registrar" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Incluindo o JS do Bootstrap e do jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
